article form p {
	margin-bottom: 10px;
}

article form h1 {
	margin-bottom: 15px;
	font-size: 24px;
}

#firstName, #lastName, #email  {
	width: 150px;
	height: 18px;
}

form fieldset {
	padding: 5px 15px 15px 15px;
}

form fieldset label {
	margin-right: 12px;
}

form fieldset textarea {
	width: 100%;
	height: 200px;
}